body {
    background-color: #242B33;
}

.responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.first-screen {
    height: 100%;
    background: linear-gradient(180deg,
            #242B33 11.98%,
            rgba(45, 52, 60, 0.38) 51.04%,
            #242B33 92.19%),
        url("../img/fs__bg.jpg");
    background-repeat: no-repeat;
}

.logo {}

.logo__top {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 54px;
}

.logo__bottom {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    letter-spacing: 0.12em;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item a {
    margin: 20px;
    color: white !important;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.info {
    margin-top: 15%;
    margin-bottom: 10%;
}

.info__header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    /* accent */
    color: #D4C17F;
}

.mouse__icon {
    margin-top: 100px;
    margin-bottom: 200px;
}

.info__footer {
    color: white;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* .info__footer .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.info__footer .col-6 img {
    margin: 15px;
}

.main {
    height: 150vh;
    margin-top: 10%;
}

.description {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */

    text-align: center;

    padding: 0 10%;
}

.description img {
    margin-bottom: 15%;
}

.appartments {
    margin-top: 10%;
}

.appartments__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    /* accent */

    color: #D4C17F;

    margin: 5% 1%;
}

.appartments__gallery .item {
    margin-bottom: 60px;
}

.appartments__gallery .item img {
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
}

.item__text {
    color: white;
    margin-top: -10%;
    padding-left: 5%;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.call-to-action {
    background: url("../img/call-to-action__bg.jpg");
    background-image: url("../img/call-to-action__bg.jpg");
    background-repeat: no-repeat;
    height: 560px;

    color: white;
}

.call-to-action .appartments__title {
    margin: 0;
    padding-top: 15%;
    padding-bottom: 1%;
}

.cta__form {
    color: white;
}

.cta__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main input {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;

    background-color: rgba(255, 255, 255, 0.2);
}

.main input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
}

.main .btn {
    background-color: #D4C17F;
    color: white;
    width: 100%;
}

.maps {
    height: 450px;
}

.call-to-action .col-md-3 {
    margin-bottom: 15px;
}

.footer {
    background-color: #2D343C;
    color: white;
    padding: 70px 0px;
}

.footer__list {
    list-style-type: none;
}

.footer__list li {
    margin-bottom: 15px;
}

.footer__list a {
    text-decoration: none;
    color: white;
}

.footer .col-md-3 {
    margin-bottom: 15px;
}

.footer__logos a {
    margin: 0 10px;
}